<html>
<head>
    <title>Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href='/'>Library</a>
      </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <div>
           <form action='/author_results' class="navbar-form navbar-left">
             <div class='form-group'>
               <input id='name' name='name' class='form-control' type='text' placeholder="enter author name">
               <button type="submit" class="btn btn-success">Search</button>
             </div>
           </form>
         </div>
         <div>
           <form action='/book_results' class="navbar-form navbar-left">
             <div class='form-group'>
               <input id='title' name='title' class='form-control' type='text' placeholder="enter book title ">
               <button type="submit" class="btn btn-success">Search</button>
             </div>
           </form>
         </div>
        </div>
      </div>
    </div>
  </nav>

    <div class="container">
    <h1>Authors</h1>

    {% if authors is not empty %}
        <p>Here are all your authors:</p>
        <ul>
            {% for author in authors %}
                <li><a href="/authors/{{ author.getId }}">{{ author.getName }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/authors' method='post'>
        <label for='name'>Author name</label>
        <input id='name' name='name' type='text'>

        <button type='submit'>Add Author</button>
    </form>
    <form action='/delete_authors' method='post'>
        <button type='submit'>Clear Authors</button>
    </form>

    <p><a href='/'>Home</a></p>
</div>
</body>
</html>
