<html>
<head>
    <title>Twiddle Doodle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>

</head>
<body>
  <div class="container">
    <h1>Three Little Piggies Library</h1>

    <h3><a href="/authors">Add or view a Author</a></h3>
    <h3><a href="/books">Add or view a Book</a></h3>
  </div>
</body>
</html>